.main-grid {
  padding: 30px;
}

.grid-item {
  width: 100%;
  padding: 10px;
}

.grid-item p {
  font-size: 16px;
  font-weight: bold;
  color: #424242;
  text-align: center;
  margin-bottom: 0;
  margin-top: 5px;
}

.grid-content {
  border: solid 3px #e2325a;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.grid-content img {
  width: 100%;
  height: 100%;
}
