.wrapper {
  display: flex;
  padding: 10px;
}

.left-side {
  width: 20%;
  padding: 10px 20px 0 10px;
  border-right: solid 3px #e0e0e0;
}

.left-side h3,
.right-side h3 {
  color: #424242;
  text-align: left;
  padding-bottom: 10px;
  margin-top: 5px;
}

.right-side {
  width: 80%;
  padding: 10px 10px 0 20px;
}
