.user-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid 1px #eeeeee;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.top-details {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 15px 0;
}

.bottom-details {
  justify-content: center;
  padding: 5px 0 15px;
}

.bottom-details h3 {
  color: #212121;
  margin: 5px;

}

.bottom-details p {
  color: #616161;
  margin: 5px;
}
