.App {
  text-align: center;
}

.top-bar {
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.menu {
  margin-left: 20px;
}

.menu-button {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}