.on-drag-wrapper {
  margin-bottom: 15px;
}

.on-drop-wrapper {
  border-bottom: none;
  margin: 0;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #e2325a;
  text-align: left;
  padding-bottom: 10px;
  margin-top: 5px;
  border-bottom: solid 1px #bdbdbd;
}
